.ItemContainer {

    
    display: flex;
    flex-direction: column;
    
    border-radius: 10px;
    color: white;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.botonesCompra{
    margin: 10px;
}